*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
}

.layout {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header {
    background-color: #000000;
    font-family: "Pathway Gothic One", sans-serif;
    padding: 16px; 
    padding-bottom: 0px;
}

    .header .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.logo-header {
    width: 100px;
    margin-bottom: 17px;
}

.nav-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list-item + .nav-list-item {
    margin-top: 32px;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}

    .nav-link:hover,
    .nav-link:focus {
        background-color: rgba(255, 255, 255, 0.25);
        padding-top: 16px;
        padding-bottom: 16px;
    }

.nav-link-active {
    background-color: rgba(255, 255, 255, 0.25);
    padding-top: 16px;
    padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .header .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-list {
        flex-direction: row;
    }
    .nav-list-item + .nav-list-item {
        margin-left: 32px;
    }

    .nav-list-item + .nav-list-item {
        margin-top: unset;
    }

}

.home-section {
    display: grid;
    grid-template-columns: 1fr; /* on peut m�me enlever cette ligne, car c'est le comportement par d�faut d'un �l�ment utilisant `display: grid` */
    align-items: center;
    overflow: hidden;
}
.img-veloBleu {
    display: block;
    max-width: 100%;
    Height: 300px;
}

    .home-section .img-veloBleu {
        object-fit: cover;
        object-position: 50% 0;
    }
.titre-H {
    text-align: center;
    color: black;
    font-size: 36px;
    padding-top: 24px;
}

.home-section .titre-H {
    padding-bottom: 46px;
    padding-top: 46px;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Affichage tablette */
@media screen and (min-width: 768px) {
    .home-section {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0px;
    }
    .img-veloBleu {
        Height :499px;
    }
    .titre-H {
        font-size: 48px;
        padding-right: 64px;
        padding-left: 27px;
        text-align: left;
    }
}

/* Affichage Ordinateur*/
@media screen and (min-width: 1280px) {
    .titre-H {
        padding-left: 90px;
        padding-right: 257px;
    }
}


.frame {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

.boite1 {
    background: #39D6C0;
    width: auto;
    height: 314px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.boite1.titre-H {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0px;
}

.index-paragraph {
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.boite2 {
    background: #ffffff;
    width: auto;
    height: 338px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.button-blanc {
    background: #FFFFFF;
    border-radius: 8px;
    width: 287px;
    height: 64px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

    .button-blanc a {
        text-align: center;
        padding-top: 20px;
        text-decoration: none;
        font-weight: 500;
        color: black;
        font-size: 16px;
        font-style: normal;
        margin-bottom: 24px;
    }

.button-bleu {
    background: #39D6C0;
    border-radius: 8px;
    width: 287px;
    height: 64px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}

    .button-bleu a {
        display: block;
        text-align: center;
        padding-top: 20px;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0em;
        color: white;
        font-size: 16px;
        font-style: normal;
    }

.img-garcon {
    display: none;
     padding-left : 4%; /*valeur non-calculée*/
}

.img-veloBlanc {
    display: none;
}

    /*Affichage Tablette*/
    @media screen and (min-width: 768px) {
        .frame .titre-H {
            font-size: 36px;
            text-align: left;
            margin-top: 0px;

        }

        .boite1 {
            display: grid;
            overflow: hidden;
            height: 288px;
            width: auto;
            grid-template-columns: 33% 33% 33%;
            grid-auto-rows: minmax(100px, auto);
            grid-template-areas: "titre titre garcon" "para para garcon" "bout . garcon";
        }

        .index-paragraph {
            padding-bottom: 0px;
           /* padding-top :12px;
            margin-top: 12px;*/
        }

        .boite1 .titre-H {
            grid-area: titre;
            padding-right: 118px;
            padding-left : 22px;
           margin-bottom: 0px;
        }

        .boite1 .index-paragraph {
            grid-area: para;
            padding-left : 22px;
        }

        .boite1 .button-blanc {
            grid-area: bout;
            margin-left: 34px;
        }

        .img-garcon {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%
        }

        .boite1 .img-garcon {
            grid-area: garcon;
            
        }

        .boite2 {
            display: grid;
            overflow: hidden;
            Height: 312px;
            width:auto;
            grid-template-columns: 33% 33% 33%;
            grid-auto-rows: minmax(1fr, 1fr);
            grid-template-areas: "veloB titre2 titre2" "veloB para2 para2" "veloB bout2 .";
        }

            .boite2 .titre-H {
                grid-area: titre2;
                padding-right: 26px;
                margin-bottom: 0px;
            }

            .boite2 .index-paragraph {
                grid-area: para2;
                padding-right: 24px;
                margin-bottom: 0px;
            }

            .boite2 .button-bleu {
                grid-area: bout2;
                margin-left: 26px;
               margin-top: 15px;
                margin-bottom: 24px;
               
            }


        .img-veloBlanc {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%
        }

        .boite2 .img-veloBlanc {
            grid-area: veloB;
        }
    }

/* Affichage Ordinateur*/
@media screen and (min-width: 1280px) {
    .boite1 .titre-H {
        padding-left: 34px;
        margin-bottom: 0px;
    }
    .boite1 .index-paragraph {
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .boite1 .button-blanc {
        margin-bottom: 32px;
    }

    .frame .titre-H {
        padding-top: 32px;
    }

    .boite1 {
        Width: 1100px;
        Height: 274px;
        margin-bottom: 14px;
    }

    .boite2 {
        Width: 1100px;
        Height: 274px;
    }

    img-veloBlanc {
        Width: 366px;
    }

    .boite2 .index-paragraph {
        padding-right: 32px;
    }

    .boite2 .titre-H {
        padding-right: 34px;
    }

    .boite2 .button-bleu {
        margin-left: 34px;
    }
}


    .frame-img-background {
        background-image: url("img/home/home-04.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-color: black;
        display: grid;
        flex-direction: column;
        padding-left: 20px;
    }

    .item-service {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        overflow: hidden;
    }

    .titre-services {
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        font-weight: 500;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .paragraphe-services {
        color: white;
        font-weight: 400;
        margin-top: 0px;
        padding-bottom: 50px;
        padding-right: 19px;
    }

        .paragraphe-services:last-child {
            padding-bottom: 64px;
        }

    .img-services {
        padding-top: 0px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
        width: 64px;
    }

.frame-img-background .button-bleu {
    margin-bottom: 24px;
}


    @media screen and (min-width: 768px) {
        .frame-img-background {
            background-position: top;
            
        }

        .item-service {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }

    @media screen and (min-width: 1280px) {
        .item-service {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    .frame-img {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        overflow: hidden;
        background-color: white;
        grid-gap: 24px;
    }

        .frame-img .img-fin {
            object-fit: cover;
            object-position: 100% 50%;
            Width: 337px;
            Height: 250px;
        }

    .img-fin {
        display: block;
    }

    .grid-img-fin {
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }

        .grid-img-fin:first-child {
            padding-top: 64px;
        }

        .grid-img-fin:last-child {
            padding-bottom: 70px;
        }

    /*Affichage tablette */
    @media screen and (min-width: 768px) {
        .frame-img {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .grid-img-fin {
            padding-top: 32px;
            padding-bottom: 31px;
        }

            .grid-img-fin:first-child {
                padding-top: 32px;
                margin-left: 32px;
            }

            .grid-img-fin:last-child {
                padding-bottom: 31px;
                margin-right: 33px;
            }

        .frame-img .img-fin {
            Width: 219px;
            Height: 350px;
        }
    }
    /*Affichage Ordinateur */
    @media screen and (min-width: 1280px) {
        .frame-img .img-fin {
            Width: 353px;
            Height: 500px;
        }

        .grid-img-fin:first-child {
            margin-left: 90px;
        }

        .grid-img-fin:last-child {
            margin-right: 90px;
        }
    }



.bloc-intro{
  width : 375 px;
  height : 236 px;
  left : 0 px;
  top : 321 px;
  background-color: #F7F7F7;
}


/*<!--Page 2 : ABOUT -->*/

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.page-title {
    display: block;
    background-color: #F7F7F7;
    position: absolute;
    width: 100%;
}

   .page-title h1 {
        font-size: 36px; /*pour la version mobile*/
        text-align: center;
        font-weight: 700;
        line-height: center;
        letter-spacing: 0em;
    }

    @media (min-width : 710px)
    {
      .page-title h1 {
        font-size: 48px;
      }
    }

/*Création de la grille avec les 3 paragraphes*/
.about-text {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 25%; /*pour la version mobile*/
    font-size: 16px; 
    line-height: 24px; 
}

/*version tablette*/
@media (min-width : 710px) and (max-width : 1280px)
{
  .about-text
  {
    padding-top: 16%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .histo-jeto
  {
    display: grid;
    grid-template-columns:  0.90fr 1fr;
    grid-gap : 5%;
  }
}

/*version ordinateur*/
@media (min-width : 1280px)
{
  .about-text
  {
    padding-top: 12%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .desktop-grid
  {
    display: inline-grid;
    grid-template-columns: 67% auto auto;
    grid-gap : 3%;
    max-height: 100%;
 }

}


/* Boutton : taille fixe*/
.about-button { /* ancien about-button*/
    width: 335px;
    height: 64px;
    background-color: #39D6C0;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
}

/*Pour les écrans de moins de 335px (bouton sort de l'écran)*/
@media screen and (max-width : 350px)
{
  .about-button
  {
    width : 80%;
  }
}

    .about-button a { /* ancien about-button a */
        display: block;
        text-align: center;
        line-height: center;
        padding-top: 20px;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0em;
        color: white;
        font-style: normal;
    }


.about-photo-vélo img {
    width: 100%;
    max-height: auto;
    padding-bottom: 6%;
}


@media (min-width : 710px) and (max-width : 1280px)
{
  .about-photo-vélo img 
  {
    display : block;
    object-fit: cover;
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width : 1280px)
{
  .about-photo-vélo img 
  {
    display : block;
    object-fit: cover;
    width: 90%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom : 14%;
  }
}


/*<!--Page 3 : Services -->*/

.grid-services{
  display:flex;
  flex-wrap: wrap;
  flex-direction : row;
}

.bloc-services{
  flex-basis:100%;
  margin : auto; 
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
}

.illustration img{
  max-width: 100%;
  max-height: 100%;
  width: 90%;
  object-fit: contain;
  object-position: center;
  display:block;
}

/* pour les photos qui sont pas dans le petit ecran */
@media(max-width: 500px){
  .illustration {
    display: none;
  }
}

/* Responsive : version tablette */
@media(min-width: 500px){
  .bloc-services{
    flex-basis: 50%;
  }
  .illustration .img{
   
  }
}

/* Responsive : version desktop */
@media screen and (max-width : 800px){
  .grid-services{


  }
}

/*footer*/
.background-footer {
    background-color: black;
}

.footer 
{
  display:grid;
  grid-template-rows: 1fr 1fr; /*footer en colonne*/
  line-height: 24px;
  font-size: 16px;
}

/*Version tablette et mobile, footer en ligne*/
@media(min-width: 600px)
{
  .footer 
  {
     display: grid;
     width:100%;
     grid-template-columns: 1fr 1fr;
     grid-gap : 2%;
     align-items: first baseline;
  }
}


.footer-adresse {
    color: rgba(255, 255, 255, 0.75);
    padding: 32px 0 0 50px;
    font-style: italic;
    font-weight: normal;
}

.footer-liens {
    padding: 50px 0 32px 19px;
}

    .footer-liens a {
        padding-left: 0%;
        list-style-type: none;
        color: #39D6C0;
    }
